<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/sendchange/" method="post">
    {% csrf_token %}
    sendID:<input type="number" name="sendID">
    receiverID:<input type="number" name="receiverID">
    customerID:<input type="number" name="customerID">
    productID:<input type="number" name="productID">
    inputID:<input type="number" name="inputID">
    <input type="submit" value="CHANGE">
</form>
</body>
</html>