<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Tag Search </title>
</head>
<body>
<h1>Tag</h1>
<table border="8">
    <thead>
    <tr>
        <th>tagID</th>
        <th>hobby</th>
        <th>age</th>
        <th>relationship</th>
        <th>budget</th>
        <th>occasion</th>
        <th>delete</th>
        <th>change</th>
    </tr>
    </thead>
    <tbody>
    {% for r in tagsearchAll %}
    <tr>
        <td>{{ r.tagID }}</td>
        <td>{{ r.hobby }}</td>
        <td>{{ r.age }}</td>
        <td>{{ r.relationship }}</td>
        <td>{{ r.budget }}</td>
        <td>{{ r.occasion }}</td>
        <td>
            <button onclick="javascrtpt:window.location.href='http://127.0.0.1:8000/tagdelete?tagID={{ r.tagID }}'">delete</button>
        </td>
        <td>
            <button onclick="javascrtpt:window.location.href='http://127.0.0.1:8000/tagchange?tagID={{ r.tagID }}'">change</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<button onclick="javascrtpt:window.location.href='http://127.0.0.1:8000/taginsert/'">
    Insert
</button>
</body>
</html>